*,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none !important;
  color: unset;
  background-color: transparent;
}

a:hover {
  color: unset;
}

select,
option,
input,
button {
  outline: none;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
  height: auto;
}

button,
a {
  cursor: pointer;
  color: unset;
}

button:focus,
button:active {
  outline: none;
}

.inner {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
}

.cursor-pointer {
  cursor: pointer;
}

.header-info {
  background-color: #eff1f4;
  height: 44px;
}

.header-info a {
  padding: 0px 15px;
}

.header-content {
  background: url("../img/bg-menutop.png") no-repeat;
  height: 104px;
}

.header-content .left-content img {
  padding: 0 15px;
}

.header-content .left-content .header-title h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #24a11e;
}

.header-content .left-content .header-title p {
  font-weight: 600;
  font-size: 15px;
  line-height: 125%;
  color: #005c70;
}

.header-content .right-content .cart {
  padding-right: 15px;
}

.header-menu {
  height: 50px;
  background-color: #24a11e;
}

.header-menu li :hover {
  background-color: #007e00;
}

.header-menu li a {
  margin: 0 15px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  padding: 16.9px 16px 15.8px 16px;
}

.slider-item {
  width: 100%;
  height: 520px;
}

.slider-item.item-1 {
  background: url("../img/slide1.jpg") no-repeat;
}

.slider-item.item-2 {
  background: url("../img/slide2.jpg") no-repeat;
}

.slider-item .slider-content h1 {
  font-weight: 800;
  font-size: 40px;
  color: #ffffff;
  line-height: 47px;
  padding-bottom: 24px;
}

.slider-item .slider-content p {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 54px;
}

.slider-item .slider-content .btn {
  position: relative;
  color: #ffffff;
  padding: 12px 24px;
  background-color: #24a11e;
  border-radius: 12px;
}

.slider-item .slider-content .btn::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #24a11e;
  border-radius: 12px;
  -webkit-animation: pulse-border-2 1s linear infinite;
          animation: pulse-border-2 1s linear infinite;
}

.slider-item .slider-content .btn::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #24a11e;
  border-radius: 12px;
  -webkit-animation: pulse-border-2 1.5s linear infinite;
          animation: pulse-border-2 1.5s linear infinite;
}

.footer-content {
  padding: 50px 15px;
  background-color: #eff9ff;
}

.footer-content h3 {
  font-family: "Montserrat", sans-serif;
  color: #2c353c;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  padding-bottom: 30px;
}

.footer-content .contact li {
  padding-bottom: 12px;
}

.footer-content .contact li img {
  padding-right: 15px;
}

.footer-content .link li {
  padding-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-content .link li img {
  padding-right: 12px;
}

.footer-content .working-time li {
  padding-bottom: 12px;
}

.footer-content .working-time li h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #52606b;
  padding-top: 8px;
  padding-bottom: 4px;
}

.footer-content .working-time li .input-group {
  max-width: 336px;
  position: relative;
}

.footer-content .working-time li .input-group input {
  border: none;
  border-radius: 4px;
  outline: none;
  -webkit-box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
          box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
  padding-right: 36px;
}

.footer-content .working-time li .input-group img {
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 99;
}

.pack {
  padding-bottom: 60px;
}

.pack .pack-header {
  padding: 80px 0px;
}

.pack .pack-header h3 {
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 133%;
  letter-spacing: 0.03rem;
}

.pack .pack-header h3::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #24a11e;
  bottom: -50%;
  left: 40%;
}

.pack .pack-content .pack-item {
  cursor: pointer;
  max-width: 360px;
  padding-bottom: 60px;
}

.pack .pack-content .pack-item img {
  padding-bottom: 16px;
}

.pack .pack-content .pack-item .pack-price {
  padding-bottom: 13px;
}

.pack .pack-content .pack-item .pack-price .discount {
  color: #ffffff;
  background-color: #24a11e;
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 16px;
  line-height: 150%;
}

.pack .pack-content .pack-item .pack-price .discount .currency {
  font-size: 10px;
  vertical-align: super;
}

.pack .pack-content .pack-item .pack-price .price {
  padding: 4px 12px;
  font-weight: 700;
  font-size: 18px;
}

.pack .pack-content .pack-item p {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.03em;
  color: #7d8d9a;
  padding-bottom: 8px;
}

.pack .pack-content .pack-item b {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: #2f4858;
}

.pack .pack-content .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pack .pack-footer {
  padding: 0px 15px;
}

.pack .pack-footer .pack-item {
  height: 240px;
}

.pack .pack-footer .pack-item.item-1 {
  position: relative;
  background: url("../img/goi4.png") no-repeat;
  width: 750px;
}

.pack .pack-footer .pack-item.item-1 a {
  position: absolute;
  bottom: 5%;
  left: 5%;
  background-color: #24a11e;
  border-radius: 40px;
  color: #ffffff;
  padding: 6px 9px 5px 24px;
}

.pack .pack-footer .pack-item.item-1 a img {
  padding-left: 6px;
}

.pack .pack-footer .pack-item.item-2 {
  background: url("../img/goi5.png") no-repeat;
  width: 360px;
}

.overview {
  background-color: #eff9ff;
  padding: 0px 15px 60px 15px;
}

.overview .overview-header {
  padding-top: 60px;
  padding-bottom: 50px;
}

.overview .overview-header h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #2f4858;
  font-weight: 700;
  font-size: 36px;
  line-height: 133%;
  letter-spacing: 0.03em;
  padding-bottom: 52px;
  position: relative;
}

.overview .overview-header h3::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #24a11e;
  bottom: 28%;
  left: 43%;
}

.overview .overview-header p {
  text-align: center;
  margin: 0 14%;
}

.overview .overview-header p span {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #24a11e;
}

.overview .overview-content {
  padding: 0 15px;
}

.overview .overview-content .content-item {
  position: relative;
  background-color: #ffffff;
  max-width: 262px;
  min-height: 276px;
  border-radius: 24px;
}

.overview .overview-content .content-item .item-header {
  position: absolute;
  width: 198px;
  height: 150px;
  border-radius: 24px;
  top: -11%;
}

.overview .overview-content .content-item.item-1 .item-header {
  background-color: #62b8f3;
}

.overview .overview-content .content-item.item-1 h5 {
  color: #62b8f3;
}

.overview .overview-content .content-item.item-2 .item-header {
  background-color: #75DEBE;
}

.overview .overview-content .content-item.item-2 h5 {
  color: #75DEBE;
}

.overview .overview-content .content-item.item-3 .item-header {
  background-color: #FEC952;
}

.overview .overview-content .content-item.item-3 h5 {
  color: #FEC952;
}

.overview .overview-content .content-item.item-4 .item-header {
  background-color: #FB8D9C;
}

.overview .overview-content .content-item.item-4 h5 {
  color: #FB8D9C;
}

.overview .overview-content .content-item .item-title {
  padding: 138px 20px 30px 20px;
}

.overview .overview-content .content-item .item-title h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}

.overview .overview-content .content-item .item-title h4 {
  text-align: center;
  color: #2f4858;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 12px;
}

.overview .overview-content .content-item .item-title p {
  text-align: center;
  color: #677987;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.news {
  background-color: #ffffff;
  padding-bottom: 60px;
}

.news .news-header {
  padding-top: 60px;
  padding-bottom: 20px;
}

.news .news-header h3 {
  color: #2f4858;
  font-weight: 700;
  font-size: 36px;
  line-height: 133%;
  letter-spacing: 0.03em;
  padding-bottom: 52px;
  position: relative;
}

.news .news-header h3::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #24a11e;
  bottom: 25%;
  left: 26%;
}

.news .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news .news-slide {
  padding: 0 15px;
  padding-bottom: 30px;
}

.news .news-slide .news-item {
  max-width: 360px;
  cursor: pointer;
}

.news .news-slide .news-item .news-img {
  width: 360px;
  height: 200px;
}

.news .news-slide .news-item .news-img.item-1 {
  background: url("../img/tintuc1.png") no-repeat;
}

.news .news-slide .news-item .news-img.item-2 {
  background: url("../img/tintuc2.png") no-repeat;
}

.news .news-slide .news-item .news-img.item-3 {
  background: url("../img/tintuc3.png") no-repeat;
}

.news .news-slide .news-item h4 {
  color: #2f4858;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.03em;
  width: 80%;
  padding-top: 15px;
  padding-bottom: 8px;
}

.news .news-slide .news-item p {
  color: #7d8d9a;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.03em;
}

.news .news-menu {
  padding: 0 15px;
  padding-bottom: 40px;
}

.news .news-menu .menu-item {
  cursor: pointer;
  width: 535px;
  padding: 8px 0;
}

.news .news-menu .menu-item img {
  padding-right: 20px;
}

.news .news-menu .menu-item h5 {
  color: #24a11e;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.03em;
  padding-bottom: 8px;
}

.news .news-menu .menu-item h4 {
  color: #2f4858;
  font-weight: 600;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0.03em;
  padding-bottom: 16px;
}

.news .news-menu .menu-item p {
  color: #7d8d9a;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.03em;
}

.news .news-other {
  width: 100%;
}

.news .news-other .btn {
  height: 48px;
  background-color: #24a11e;
  border-radius: 40px;
  color: #ffffff;
  padding: 6px 6px 6px 24px;
}

.news .news-other .btn img {
  padding-left: 8px;
}

.footer-copyright {
  height: 40px;
  background-color: #24a11e;
  color: #ffffff;
}

.footer-copyright p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@-webkit-keyframes pulse-border-2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border-2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}
/*# sourceMappingURL=index.css.map */