// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .header-desktop {
        display: none;
    }
    .header-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-logo {
            padding: 15px;
        }
        .btn-nav-mobile {
            padding-right: 15px;
            cursor: pointer;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) {}